<!-- image de fond -->
<div class="wrapper_pictBG">
    <img src="templates/zones/Z1/z1-maisonchef-web.jpg" class="pictBG" />
</div>
<!-- ambiance -->
<audio loop autoplay>
  <!-- <source src="sounds/bruit_forge.mp3" type="audio/mpeg"> -->
</audio>
<!-- 

Surcouche interaction

ajouter la classe .dialog pour l'effet de texte BD

ajouter la classe .hide pour masquer l'élément

ajouter la classe .dev pour avoir un fond rouge transparent

ajouter la classe .clickZone pour avoir le curseur

-->
<div class="templateOverlay">
    <!-- Lien vers un autre template -->
    <div id="interieurSalleTrone" class="clickZone" style="width: 12%;height: 21%;margin-left: 38%;margin-top: 27%;">
        
    </div><div id="conversationThord" class="clickZone" style="width: 12%;height: 40%;margin-left: 10%;margin-top: 29%;"></div>
    <div id="prisonTemple" class="clickZone" style="width:6%;height: 10%;margin-left: 88%;margin-top: 33%;"></div>
    
    <!-- interaction du template -->
    <div class="indice dialog arrondi hide" id="infoChasseur" style="margin-top:34%;margin-left:10%">Il s'agit du stand du chasseur, il ne semble pas être là...</div>
    <div class="indice dialog arrondi hide" id="infoPecheur" style="margin-top:34%;margin-left:81%">On dirait l'échoppe du pécheur, personne ne répond.</div>
    
    
</div>

<!-- Evenements sur le template -->
<script type="text/javascript">
    
    // Intérieur salle du trone
    EventListenersManager.registerEvent("click", "#interieurSalleTrone", function() {
        TemplateManager.LoadTemplateHMTL("templates/zones/Z1/I1/i1-salletrone.html");
    });
    
    // Conversation avec Thord
    EventListenersManager.registerEvent("click", "#conversationThord", function() {
        TemplateManager.LoadTemplateHMTL("templates/zones/Z1/C13/c13-thordgardien1");
    });
    
    // Jouer un son
    //AudioManager.loadAndPlaySound("URL");
</script>