<!-- image de fond -->
<div class="wrapper_pictBG">
    <img src="templates/zones/Z6/z6_marche_web.jpg" class="pictBG" />
</div>
<!-- ambiance -->
<audio loop autoplay>
  <source src="sounds/bruit_forge.mp3" type="audio/mpeg">
</audio>
<!-- 

Surcouche interaction

ajouter la classe .dialog pour l'effet de texte BD

ajouter la classe .hide pour masquer l'élément

ajouter la classe .dev pour avoir un fond rouge transparent

ajouter la classe .clickZone pour avoir le curseur

-->
<div class="templateOverlay">
    <!-- Lien vers un autre template -->
    <div id="interieurForgeron" class="clickZone" style="width: 4%;height: 15%;margin-left: 53%;margin-top:30%;"></div>
    
    <!-- interaction du template -->
    <div id="marcheEntreeForgeron" class="clickZone" style="width: 6%;height: 11%;margin-left: 37%;margin-top: 30%;"></div>
    <div id="marcheTenteChasseur" class="clickZone" style="width:15%;height: 29%;margin-left:5%;margin-top:28%;"></div>
    <div id="marcheMaisonPecheur" class="clickZone" style="width:6%;height:15%;margin-left:92%;margin-top:30%;"></div>
    <div id="marcheOrnement" class="clickZone" style="width: 5%;height: 12%;margin-left: 8%;margin-top: 18%;"></div>
    <div id="marcheCorbeau" class="clickZone" style="width:2%;height: 3%;margin-left: 18%;margin-top: 4%;"></div>
    <div class="indice dialog arrondi hide" id="infoMarcheTenteChasseur" style="margin-top:34%;margin-left:10%">Il s'agit du stand du chasseur, il ne semble pas être là...</div>
    <div class="indice dialog arrondi hide" id="infoMarcheMaisonPecheur" style="margin-top:34%;margin-left:81%">On dirait l'échoppe d'un pêcheur, personne ne répond.</div>
    <div class="indice dialog arrondi hide" id="infoMarcheOrnement" style="margin-top: 25%;margin-left: 14%;">Cette décoration, je suis certain de l'avoir déjà vue ailleurs...</div>
    <div class="indice dialog arrondi hide" id="infoMarcheEntreeForgeron" style="margin-top: 31%;margin-left: 22%;">Je ne peux pas entrer chez le forgeron.</div>
    
</div>

<!-- Evenements sur le template -->
<script type="text/javascript">
    
    // Intérieur forgeron
    EventListenersManager.registerEvent("click", "#interieurForgeron", function() {
        TemplateManager.LoadTemplateHMTL("templates/zones/Z6/I4/i4_forge.html");
    });
    
    // Stand du chasseur
    EventListenersManager.registerEvent("click", "#marcheTenteChasseur", function() {
        // Indique que le chasseur n'est pas là
        TemplateManager.showIndice("#infoMarcheTenteChasseur");
    });
    
    // Ornement du stand chasseur
    EventListenersManager.registerEvent("click", "#marcheOrnement", function() {
        // Indique que l'ornement ne lui est pas inconnu
        TemplateManager.showIndice("#infoMarcheOrnement");
    });
    
    // stand Pécheur
    EventListenersManager.registerEvent("click", "#marcheMaisonPecheur", function() {
        // Indique que le pécheur n'est pas là
        TemplateManager.showIndice("#infoMarcheMaisonPecheur");
    });
    
    // Entrée chez le forgeron
    EventListenersManager.registerEvent("click", "#marcheEntreeForgeron", function() {
        // Indique qu'on ne peut entrer chez le forgeron
        TemplateManager.showIndice("#infoMarcheEntreeForgeron");
    });
    
    // Clique sur le corbeau
    EventListenersManager.registerEvent("click", "#marcheCorbeau", function() {
       AudioManager.loadAndPlaySound("sounds/crow_alone.mp3");
    });
    
    // Jouer un son
    //AudioManager.loadAndPlaySound("URL");
</script>