<!-- image de fond -->
<div class="wrapper_pictBG">
    <img src="templates/zones/Z3/z3-cabanne-web.jpg" class="pictBG" />
</div>
<!-- 

Surcouche interaction

ajouter la classe .dialog pour l'effet de texte BD

ajouter la classe .hide pour masquer l'élément

ajouter la classe .dev pour avoir un fond rouge transparent

ajouter la classe .clickZone pour avoir le curseur

-->
<div class="templateOverlay">
    <!-- Lien vers un autre template -->
    <div id="conversationArnvidar" class="clickZone" style="width: 11%;height: 27%;margin-left: 26%;margin-top: 31%;"></div>
    
    <!-- interaction du template -->
    <div id="cabanneCorbeau" class="clickZone" style="width: 3%;height: 6%;margin-left: 80%;margin-top: 8%;"></div>
    <div id="cabanneOrnement" class="clickZone" style="width: 7%;height: 13%;margin-left: 59%;margin-top: 11%;"></div>
    <div id="cabannePorte" class="clickZone" style="width: 7%;height: 13%;margin-left: 57%;margin-top: 29%;"></div>
    <div id="cabannePorte2" class="clickZone" style="width: 5%;height: 11%;margin-left: 82%;margin-top: 29%;"></div>
    
    <!-- indices -->
    <div class="indice dialog arrondi hide" id="infoCabanneOrnement" style="margin-top: 21%;margin-left: 63%;">Mais qui réalise ces ornements ?</div>
    <div class="indice dialog arrondi hide" id="infoCabannePorte" style="margin-left: 66%;margin-top: 31%;">Je ne peux pas entrer dans sa cabane.</div>
</div>

<!-- ambiance -->
<audio loop autoplay>
  <source src="sounds/vieForet.mp3" type="audio/mpeg">
</audio>

<audio loop autoplay>
  <source src="sounds/firePlace.mp3" type="audio/mpeg">
</audio>

<!-- Evenements sur le template -->
<script type="text/javascript">
    
    // Conversation avec Arnvidar
    EventListenersManager.registerEvent("click", "#conversationArnvidar", function() {
        TemplateManager.LoadTemplateHMTL("templates/zones/Z3/C15/c15-chasseur.html");
    });
    
     // Clique sur le corbeau
    EventListenersManager.registerEvent("click", "#cabanneCorbeau", function() {
       AudioManager.loadAndPlaySound("sounds/crow_alone.mp3");
    });
    
    // clique sur la porte de la cabanne
    EventListenersManager.registerEvent("click", "#cabannePorte, #cabannePorte2", function() {
        // Indique qu'il e peut pas entrer chez le chasseur
        TemplateManager.showIndice("#infoCabannePorte");
    });
    
    // Clique sur l'ornement
    EventListenersManager.registerEvent("click", "#cabanneOrnement", function() {
        // Indique que les runes lui sont inconnues
        TemplateManager.showIndice("#infoCabanneOrnement");
        // L'utilisateur connait les ornements de la zone 3
        ComicManager.userKnow("z3-ornement");
    });
    
    
    // Jouer un son
    //AudioManager.loadAndPlaySound("URL");
</script>