  <!-- image de fond -->
<div class="narativeBackground">
</div>
<div class="templateOverlay">
    
    <div class="dialog info arrondi" style="margin-left:29%;margin-top:14%;font-size:40px;display:inline-block">Vous vous êtes fait décapiter !</div>
    <div class="dialog info arrondi recommencerJeu grow" style="cursor:pointer;margin-left:43%;margin-top:4%;display:inline-block">Recommencer le jeu</div>
</div>
  
  <!-- Evenements sur le template -->
<script type="text/javascript">
    
    $(".templateOverlay").css("background-color", "#000");
    
    // supprime les informations enregistrée
    StorageManager.clear();
    
    // Jouer un son après 1 seconde (mort)
    setTimeout(function() {
        AudioManager.loadAndPlaySound("sounds/death.mp3");
    }, 1000)
    
    // supprime le bouton de retour en arrière
    setTimeout(function() { $(".btn_retour_map").fadeOut() }, 1000);
    
    // Si on clique sur "Recommencer le jeu"
    EventListenersManager.registerEvent("click", ".dialog.info.recommencerJeu", function() {
        location.reload();
    });
    //AudioManager.loadAndPlaySound("URL");
</script>