  <!-- image de fond -->
<div class="wrapper_pictBG">
    <img src="narative/introduction/p2-web.jpg" class="pictBG" onLoad="TemplateManager.disposeTemplate()"/>
</div>
<div class="templateOverlay">
    <div class="repriseJeu dialog arrondi">
        <div class="dialog arrondi info repriseText">
        <h2>Reprise du jeu</h2>
        <p>Vous avez quittez le site sans avoir terminé le jeu, voulez-vous continuer ou recommencer votre partie ?</p>
        </div>
        <div class="recommencerJeu dialog arrondi info grow">Recommencer</div>
        <div class="continuerJeu dialog arrondi info grow">Continuer</div>
    </div>
</div>
  
  
  <!-- Evenements sur le template -->
<script type="text/javascript">
    
    $(".repriseJeu").hide().delay(1000).fadeIn();
	
    
    // Préchage la scène WebGL de façon asynchrone
    setTimeout( function() {
        WebglSceneManager.init();
    }, 10);
    
    // Si on clique recommencer le jeu
    EventListenersManager.registerEvent("click", ".recommencerJeu", function() {
        StorageManager.clear();
        location.reload();
    });
    
    // Si on clique sur continuer
    EventListenersManager.registerEvent("click", ".continuerJeu", function() {
		if( WebglSceneManager.canUserPlayWebgl ) {
			// Affiche la scène ThreeJS
			WebglSceneManager.showWebglScene();
		} else {
			// sinon affiche le template de la carte 2D
			TemplateManager.LoadTemplateHMTL("templates/zones/z0-carteAsketill.html");
		} // else
    });
    
    // Jouer un son
    //AudioManager.loadAndPlaySound("URL");
</script>